# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
* Popular languages that Data Scientist use
* Commonly usde libraries
* Data science tools

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Matplotlob
3. Plotly

Data Science Tools:

|Data Science Tools|
|------------------|
|Jupyter|
|Apache Hadoop|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
(3*4)+5

# his a simple arithmetic expression to mutiply then add integers

17

In [4]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
Domingo Javier Osorio Caro